local/.flows.json.backup
[
    {
        "id": "45a5798c969a3877",
        "type": "tab",
        "label": "ML",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1226307d9cae10d",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb44c4795081b907",
        "type": "tab",
        "label": "Mobile Sensor (Backup)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4097a0765b6ad06b",
        "type": "group",
        "z": "fb44c4795081b907",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "05ca7b200d3c2c82",
            "e284037c1b396708",
            "6cce6d88bbcb2297",
            "8ca4b92d9af468a3"
        ],
        "x": 74,
        "y": 571.5,
        "w": 992,
        "h": 97
    },
    {
        "id": "ec0c6b9fefae9c86",
        "type": "group",
        "z": "fb44c4795081b907",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5b07663155ef92c3",
            "d7cec772ba0f11df",
            "8e7cdf522c01d432",
            "c43e5a7a93f552ca",
            "5ad71465182472ad",
            "eaa29e0e2ba58fd2"
        ],
        "x": 74,
        "y": 299,
        "w": 1172,
        "h": 162
    },
    {
        "id": "7f93a9294e905aef",
        "type": "group",
        "z": "fb44c4795081b907",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "81317456c8f0b20d",
            "6b718b5a5fd8e376",
            "2631b75361083c53",
            "62ed66ac7b2efb79"
        ],
        "x": 74,
        "y": 91.5,
        "w": 852,
        "h": 97
    },
    {
        "id": "d07a2703c7a0604b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "72f7db22c25b098f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "033a3e4e64a4d53a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "72f7db22c25b098f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "433cb5fb389f8d23",
        "type": "ui_text",
        "z": "45a5798c969a3877",
        "group": "033a3e4e64a4d53a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "d6f61006b4207f91",
        "type": "ui_webcam",
        "z": "45a5798c969a3877",
        "name": "",
        "group": "033a3e4e64a4d53a",
        "order": 1,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": false,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "png",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "7e43db79ac128262"
            ]
        ]
    },
    {
        "id": "7e43db79ac128262",
        "type": "function",
        "z": "45a5798c969a3877",
        "name": "function 1",
        "func": "msg.payload = { \"imageEncoded\": Buffer.from(msg.payload).toString('base64') }\nmsg.headers = {\"Content-Type\": \"application/x-www-form-urlencoded\"}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 320,
        "wires": [
            [
                "f37d8272fd895041"
            ]
        ]
    },
    {
        "id": "f37d8272fd895041",
        "type": "http request",
        "z": "45a5798c969a3877",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3003/upload_base64",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "3c8e18c08ac60298",
                "4d3e3b0a5159ac45"
            ]
        ]
    },
    {
        "id": "abd4ac8da4f33f16",
        "type": "debug",
        "z": "45a5798c969a3877",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c8e18c08ac60298",
        "type": "function",
        "z": "45a5798c969a3877",
        "name": "function 2",
        "func": "const obj = JSON.parse(msg.payload)\nmsg.payload = obj.predictions[0].class\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 140,
        "wires": [
            [
                "433cb5fb389f8d23"
            ]
        ]
    },
    {
        "id": "4d3e3b0a5159ac45",
        "type": "json",
        "z": "45a5798c969a3877",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "abd4ac8da4f33f16"
            ]
        ]
    },
    {
        "id": "a11c256eeeee1ddc",
        "type": "ui_button",
        "z": "45a5798c969a3877",
        "name": "",
        "group": "033a3e4e64a4d53a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "22973c48729a080b"
            ]
        ]
    },
    {
        "id": "22973c48729a080b",
        "type": "function",
        "z": "45a5798c969a3877",
        "name": "function 3",
        "func": "msg.capture = true\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "d6f61006b4207f91"
            ]
        ]
    },
    {
        "id": "44dafe7d7123dc28",
        "type": "inject",
        "z": "45a5798c969a3877",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "22973c48729a080b"
            ]
        ]
    },
    {
        "id": "1ff4a3c939be464d",
        "type": "file in",
        "z": "45a5798c969a3877",
        "name": "",
        "filename": "dog.webp",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "ac2b96c7f7933dcd"
            ]
        ]
    },
    {
        "id": "ac2b96c7f7933dcd",
        "type": "debug",
        "z": "45a5798c969a3877",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "abf6e7ee86734c61",
        "type": "inject",
        "z": "45a5798c969a3877",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "1ff4a3c939be464d"
            ]
        ]
    },
    {
        "id": "8cfd42ca200a0bdb",
        "type": "jimp-image",
        "z": "45a5798c969a3877",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 750,
        "y": 460,
        "wires": [
            [
                "b1c175d43d226828",
                "7e43db79ac128262"
            ]
        ]
    },
    {
        "id": "906f4aebf4fa5204",
        "type": "inject",
        "z": "45a5798c969a3877",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dog.png",
        "payloadType": "str",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "8cfd42ca200a0bdb"
            ]
        ]
    },
    {
        "id": "b1c175d43d226828",
        "type": "image viewer",
        "z": "45a5798c969a3877",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bbe3784586c6ae67",
        "type": "inject",
        "z": "c1226307d9cae10d",
        "name": "Create JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.telegram.org/bot7259382710:AAFF-MNyFO1XSGrDolREQNnXAhXIwS0v2lo/sendMessage",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"chat_id\":\"6094132297\",\"text\":\"Hi\"}",
        "payloadType": "json",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "e1755127ba9d796e"
            ]
        ]
    },
    {
        "id": "45ea2013dc4fd404",
        "type": "debug",
        "z": "c1226307d9cae10d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "e1755127ba9d796e",
        "type": "http request",
        "z": "c1226307d9cae10d",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "45ea2013dc4fd404"
            ]
        ]
    },
    {
        "id": "0f615744dbe14112",
        "type": "function",
        "z": "c1226307d9cae10d",
        "name": "Gen Random Number",
        "func": "msg.payload = Math.random()\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "da75ca486005b5c0"
            ]
        ]
    },
    {
        "id": "de1063fb2e1fa793",
        "type": "function",
        "z": "c1226307d9cae10d",
        "name": "Construct JSON",
        "func": "// Input your info here\nconst TOKEN = \"7259382710:AAFF-MNyFO1XSGrDolREQNnXAhXIwS0v2lo\"\nconst CHAT_ID = \"6094132297\"\n\n// Store incoming message\nconst value = msg.payload\n\n// Construct \"JSON\"\nmsg.payload = {\n    chat_id: CHAT_ID,\n    text: value\n}\nmsg.url = `https://api.telegram.org/bot${TOKEN}/sendMessage`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 440,
        "wires": [
            [
                "ceb858e7fb5e74e3"
            ]
        ]
    },
    {
        "id": "411ffb12a7ed214e",
        "type": "inject",
        "z": "c1226307d9cae10d",
        "name": "Constant Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "0f615744dbe14112"
            ]
        ]
    },
    {
        "id": "da75ca486005b5c0",
        "type": "template",
        "z": "c1226307d9cae10d",
        "name": "Format Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "de1063fb2e1fa793"
            ]
        ]
    },
    {
        "id": "ceb858e7fb5e74e3",
        "type": "http request",
        "z": "c1226307d9cae10d",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "91c8cfaee8667a30"
            ]
        ]
    },
    {
        "id": "91c8cfaee8667a30",
        "type": "debug",
        "z": "c1226307d9cae10d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "b5d2913741b1655f",
        "type": "comment",
        "z": "c1226307d9cae10d",
        "name": "Manual",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "37539f8df9f4303a",
        "type": "comment",
        "z": "c1226307d9cae10d",
        "name": "Data from sensor",
        "info": "",
        "x": 180,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b07663155ef92c3",
        "type": "exec",
        "z": "fb44c4795081b907",
        "g": "ec0c6b9fefae9c86",
        "command": "termux-sensor -a",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "eaa29e0e2ba58fd2"
            ],
            [],
            []
        ]
    },
    {
        "id": "d7cec772ba0f11df",
        "type": "inject",
        "z": "fb44c4795081b907",
        "g": "ec0c6b9fefae9c86",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "5b07663155ef92c3"
            ]
        ]
    },
    {
        "id": "8e7cdf522c01d432",
        "type": "debug",
        "z": "fb44c4795081b907",
        "g": "ec0c6b9fefae9c86",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 380,
        "wires": []
    },
    {
        "id": "05ca7b200d3c2c82",
        "type": "exec",
        "z": "fb44c4795081b907",
        "g": "4097a0765b6ad06b",
        "command": "pkill termux",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "e284037c1b396708"
            ],
            [],
            []
        ]
    },
    {
        "id": "e284037c1b396708",
        "type": "exec",
        "z": "fb44c4795081b907",
        "g": "4097a0765b6ad06b",
        "command": "termux-sensor -c",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 620,
        "wires": [
            [
                "8ca4b92d9af468a3"
            ],
            [
                "8ca4b92d9af468a3"
            ],
            [
                "8ca4b92d9af468a3"
            ]
        ]
    },
    {
        "id": "6cce6d88bbcb2297",
        "type": "inject",
        "z": "fb44c4795081b907",
        "g": "4097a0765b6ad06b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "05ca7b200d3c2c82"
            ]
        ]
    },
    {
        "id": "8ca4b92d9af468a3",
        "type": "debug",
        "z": "fb44c4795081b907",
        "g": "4097a0765b6ad06b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 620,
        "wires": []
    },
    {
        "id": "c43e5a7a93f552ca",
        "type": "function",
        "z": "fb44c4795081b907",
        "g": "ec0c6b9fefae9c86",
        "name": "Acceleration",
        "func": "const sensor_name = \"LSM6DSO Acceleration Sensor\"\nconst payload = msg.payload\nconst values = payload[sensor_name].values\nconst output_value = Math.sqrt( values[0]**2 + values[1]**2 + values[2]**2)\nmsg.payload = output_value\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 340,
        "wires": [
            [
                "8e7cdf522c01d432"
            ]
        ]
    },
    {
        "id": "81317456c8f0b20d",
        "type": "exec",
        "z": "fb44c4795081b907",
        "g": "7f93a9294e905aef",
        "command": "termux-sensor -l",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "62ed66ac7b2efb79"
            ],
            [],
            []
        ]
    },
    {
        "id": "6b718b5a5fd8e376",
        "type": "debug",
        "z": "fb44c4795081b907",
        "g": "7f93a9294e905aef",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "2631b75361083c53",
        "type": "inject",
        "z": "fb44c4795081b907",
        "g": "7f93a9294e905aef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "81317456c8f0b20d"
            ]
        ]
    },
    {
        "id": "62ed66ac7b2efb79",
        "type": "json",
        "z": "fb44c4795081b907",
        "g": "7f93a9294e905aef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "6b718b5a5fd8e376"
            ]
        ]
    },
    {
        "id": "5ad71465182472ad",
        "type": "function",
        "z": "fb44c4795081b907",
        "g": "ec0c6b9fefae9c86",
        "name": "Lux",
        "func": "const sensor_name = \"TMD4910 Uncalibrated lux Sensor\" // Change here\nconst payload = msg.payload\nconst values = payload[sensor_name].values\nconst output = values[0] // Modify here\nmsg.payload = output\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 420,
        "wires": [
            [
                "8e7cdf522c01d432"
            ]
        ]
    },
    {
        "id": "eaa29e0e2ba58fd2",
        "type": "json",
        "z": "fb44c4795081b907",
        "g": "ec0c6b9fefae9c86",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "c43e5a7a93f552ca",
                "5ad71465182472ad"
            ]
        ]
    },
    {
        "id": "594164d5c9b1d05f",
        "type": "comment",
        "z": "fb44c4795081b907",
        "name": "Inspect Sensors",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "de11ce4e9986c57a",
        "type": "comment",
        "z": "fb44c4795081b907",
        "name": "Get Sensor Values",
        "info": "",
        "x": 170,
        "y": 260,
        "wires": []
    },
    {
        "id": "22c9026735a164f5",
        "type": "comment",
        "z": "fb44c4795081b907",
        "name": "Stop/Reset Sensors",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    }
]