local/.flows.json.backup
[
    {
        "id": "45a5798c969a3877",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d07a2703c7a0604b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "72f7db22c25b098f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "033a3e4e64a4d53a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "72f7db22c25b098f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "433cb5fb389f8d23",
        "type": "ui_text",
        "z": "45a5798c969a3877",
        "group": "033a3e4e64a4d53a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "d6f61006b4207f91",
        "type": "ui_webcam",
        "z": "45a5798c969a3877",
        "name": "",
        "group": "033a3e4e64a4d53a",
        "order": 1,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": false,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "png",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "7e43db79ac128262"
            ]
        ]
    },
    {
        "id": "7e43db79ac128262",
        "type": "function",
        "z": "45a5798c969a3877",
        "name": "function 1",
        "func": "msg.payload = { \"imageEncoded\": Buffer.from(msg.payload).toString('base64') }\nmsg.headers = {\"Content-Type\": \"application/x-www-form-urlencoded\"}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 320,
        "wires": [
            [
                "f37d8272fd895041"
            ]
        ]
    },
    {
        "id": "f37d8272fd895041",
        "type": "http request",
        "z": "45a5798c969a3877",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3003/upload_base64",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "3c8e18c08ac60298",
                "4d3e3b0a5159ac45"
            ]
        ]
    },
    {
        "id": "abd4ac8da4f33f16",
        "type": "debug",
        "z": "45a5798c969a3877",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c8e18c08ac60298",
        "type": "function",
        "z": "45a5798c969a3877",
        "name": "function 2",
        "func": "const obj = JSON.parse(msg.payload)\nmsg.payload = obj.predictions[0].class\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 140,
        "wires": [
            [
                "433cb5fb389f8d23"
            ]
        ]
    },
    {
        "id": "4d3e3b0a5159ac45",
        "type": "json",
        "z": "45a5798c969a3877",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "abd4ac8da4f33f16"
            ]
        ]
    },
    {
        "id": "a11c256eeeee1ddc",
        "type": "ui_button",
        "z": "45a5798c969a3877",
        "name": "",
        "group": "033a3e4e64a4d53a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "22973c48729a080b"
            ]
        ]
    },
    {
        "id": "22973c48729a080b",
        "type": "function",
        "z": "45a5798c969a3877",
        "name": "function 3",
        "func": "msg.capture = true\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "d6f61006b4207f91"
            ]
        ]
    },
    {
        "id": "44dafe7d7123dc28",
        "type": "inject",
        "z": "45a5798c969a3877",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "22973c48729a080b"
            ]
        ]
    },
    {
        "id": "1ff4a3c939be464d",
        "type": "file in",
        "z": "45a5798c969a3877",
        "name": "",
        "filename": "dog.webp",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "ac2b96c7f7933dcd"
            ]
        ]
    },
    {
        "id": "ac2b96c7f7933dcd",
        "type": "debug",
        "z": "45a5798c969a3877",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "abf6e7ee86734c61",
        "type": "inject",
        "z": "45a5798c969a3877",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "1ff4a3c939be464d"
            ]
        ]
    },
    {
        "id": "8cfd42ca200a0bdb",
        "type": "jimp-image",
        "z": "45a5798c969a3877",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 750,
        "y": 460,
        "wires": [
            [
                "b1c175d43d226828",
                "f37d8272fd895041"
            ]
        ]
    },
    {
        "id": "906f4aebf4fa5204",
        "type": "inject",
        "z": "45a5798c969a3877",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dog.png",
        "payloadType": "str",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "8cfd42ca200a0bdb"
            ]
        ]
    },
    {
        "id": "b1c175d43d226828",
        "type": "image viewer",
        "z": "45a5798c969a3877",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    }
]